<%= simple_form_for @plist, as: :plist, method: :post, url: plists_path do |f| %>
  <fieldset>
    <legend class="border-bottom">Basics</legend>
    <div class="row mb-3">
      <div class="col">
        <%= f.input :name, wrapper: :tt_prefix, prefix: "#{Launched::DOMAIN}." %>
      </div>
      <div class="col">
        <%= f.input :command, wrapper: :tt_prefix, prefix: "sh -c" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="border-bottom">Schedule</legend>

    <div class="row row-cols-6 mb-3">
      <div class="col">
        <%= f.input :start_interval, hint: "Run at this interval (seconds)" %>
      </div>
      <div class="col">
        <%= f.input :minute, hint: "Cron syntax: <code>0-59</code>, <code>0,30</code>, <code>*/5</code>".html_safe %>
      </div>
      <div class="col">
        <%= f.input :hour, hint: "Cron: <code>0-23</code>, <code>0,12</code>, <code>*/3</code>, etc.".html_safe %>
      </div>
      <div class="col">
        <%= f.input :day_of_month, hint: "Cron: <code>1-31</code>, <code>1,15</code>, <code>*/3</code>, etc.".html_safe %>
      </div>
      <div class="col">
        <%= f.input :month, hint: "Cron: <code>1-12</code>, <code>1,7</code>, <code>*/3</code>, etc.".html_safe %>
      </div>
      <div class="col">
        <%= f.input :weekday, hint: "Cron: <code>0-6</code>, <code>0,3</code>, etc.".html_safe %>
      </div>
    </div>
    <p>If no schedule is defined, launchd will keep the program running at all times.</p>
  </fieldset>

  <fieldset>
    <legend class="border-bottom">Runtime</legend>
    <div class="row mb-3">
      <div class="col">
        <%= f.input :user, hint: "Run as this user" %>
      </div>
      <div class="col">
        <%= f.input :group, hint: "and/or this group" %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <%= f.input :working_directory, hint: "Run in this working directory" %>
      </div>
      <div class="col">
        <%= f.input :root_directory, hint: "Run with chroot in this directory" %>
      </div>
    </div>
  </fieldset>

  <div class="row border-top pt-3">
    <% unless @plist.new_record? -%>
      <div class="col">
        <span class="badge bg-info text-dark">Note</span>
        updating a plist creates a new one with a different UUID.
      </div>
    <% end -%>
    <div class="col-auto ms-auto">
      <%= f.button :submit, "Create Plist", class: "btn-primary" %>
    </div>
  </div>
<% end %>
