<h2 class="border-bottom mb-3"><%= @plist.label %>.plist</h2>

<p>
  To install:
  <code class="bg-light p-1" id="install">curl <%= install_plist_url(@plist.uuid) %> | sh</code>
  <a href="#" title="copy to clipboard" class="install"><i class="icon-share"></i></a> |
  <%= link_to "view source", install_plist_path(@plist.uuid) %>
</p>

<p>
  <a href="#" title="copy to clipboard" class="plist_xml"><i class="icon-share"></i></a>
</p>

<p>
<tt><%= @plist.label %>.plist</tt> running <tt><%= @plist.command %></tt>:
</p>
<pre class="bg-light p-3" id="plist_xml"><code><%= @plist_xml %></code></pre>
<p class="text-end">
  <%= link_to "edit", edit_plist_path(@plist.uuid) %> |
  <%= link_to "view raw", plist_path(@plist.uuid, :format => :xml) %> |
  <%= link_to "download", plist_path(@plist.uuid, :format => :xml, :download => true) %>
</p>

<p>To install manually:</p>

<% filename = Launched::DOMAIN + "." + @plist.label + ".plist" -%>

<pre class="bg-light p-3"><code>mkdir -p ~/Library/LaunchAgents
curl -o ~/Library/LaunchAgents/<%= filename %> <%= plist_url @plist.uuid, :format => :xml %>
launchctl load -w ~/Library/LaunchAgents/<%= filename %>
</code></pre>

<p>Or, to install as root:</p>
<pre class="bg-light p-3"><code>curl -o ~/Downloads/<%= filename %> <%= plist_url @plist.uuid, :format => :xml %>
sudo cp ~/Downloads/<%= filename %> /Library/LaunchDaemons
sudo launchctl load -w /Library/LaunchDaemons/<%= filename %>
</code></pre>
