<script type="text/javascript" charset="utf-8">
  $(function(){ plist.show_init(); });
</script>
<h2><%= @plist.label %>.plist</h2>
<p class="pull-right">
  <a href="#" title="copy to clipboard" class="plist_xml"><i class="icon-share"></i></a> |
  <%= link_to "edit", edit_plist_path(@plist.uuid) %> |
  <%= link_to "download", plist_path(@plist.uuid, :format => :xml) %>
</p>

<p><code><%= @plist.command %></code></p>
<pre><code id="plist_xml"><%= @plist_xml %></code></pre>

<% filename = Launched::Application::DOMAIN + "." + @plist.label + ".plist" -%>

<p>
  To install:
  <code id="install">curl <%= install_plist_url(@plist.uuid) %> | sh</code>
  <a href="#" title="copy to clipboard" class="install"><i class="icon-share"></i></a> |
  <%= link_to "source", install_plist_path(@plist.uuid) %>
</p>

<p>Manual install:</p>
<pre><code>mkdir -p ~/Library/LaunchAgents
curl -o ~/Library/LaunchAgents/<%= filename %>
launchctl load -w ~/Library/LaunchAgents/<%= filename %>
</code></pre>

<p>Or, to install as root:</p>
<pre><code>curl -o ~/Downloads/<%= filename %>
sudo cp ~/Downloads/<%= filename %> /Library/LaunchDaemons
sudo launchctl load -w /Library/LaunchDaemons/<%= filename %>
</code></pre>
