<!DOCTYPE html>
<html>
  <head>
    <title>Launched</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "launched", root_path, :class => "brand" %>
          <span class="navbar-text">A launchd.plist generator</span>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
      <footer class="footer" style="display:none">
        <p>YIBYABS: yes, I built another Bootstrap site.</p>
      </footer>
    </div>
  </body>
</html>
